<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start" (click)="Usuarios()">
      <ion-button>
        <ion-icon  name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cadastrar Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">
      Nome
    </ion-label>
    <ion-input [(ngModel)]="nome">

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      Usuário
    </ion-label>
    <ion-input [(ngModel)]="usuario">

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">
      Senha
    </ion-label>
    <ion-input [(ngModel)]="senha">

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Tipo de usuário</ion-label>
    <ion-select placeholder="Selecione" [(ngModel)]="nivel">
      <ion-select-option value="Produtor">Quero Vender</ion-select-option>
      <ion-select-option value="Cliente">Quero Comprar</ion-select-option>
    
    </ion-select>
  </ion-item>

  <ion-button *ngIf="!id" color="success" expand="block" (click)="cadastrar()">
    Salvar
  </ion-button>

  <ion-button *ngIf="id" color="primary" expand="block" (click)="editar()">
    Editar
  </ion-button>



</ion-content>
