<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de Produtos</ion-title>
    <ion-buttons  *ngIf="nivelUsuario == 'Produtor'" slot="primary" (click)="addProdutos()">
      <ion-button >Novo
        <ion-icon slot="end" name="add"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-row class="verde-primary padding-lateral">
  
  <ion-input placeholder="Buscar" [(ngModel)]="nomeProduto" type="search" (input)="carregar()" ></ion-input>

  <ion-buttons (click)="carregar()">
    <ion-button>
      <ion-icon slot="end" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>

</ion-row>




<ion-content class="cinza-claro" class="ion-padding">
  <ion-list>
    <ion-item-sliding *ngFor="let produto of produtos">
    
      <ion-item-options *ngIf="nivelUsuario == 'Produtor'" side="start">
        <ion-item-option (click)="editar(produto.idProduto, produto.nomeProduto, produto.categoria,produto.valor,produto.unidadeMedida, produto.qtEstoque, produto.qtMinimaPedido , produto.idUsuario,produto.urlImagem)">
          Editar
        </ion-item-option>
      </ion-item-options>
      <ion-item *ngIf="produto.categoria == groupCategoria"> 
        <h1>{{produto.categoria}}</h1>
      </ion-item>
      <ion-item>
       
          <ion-avatar slot="start">
            <img src={{obterUriFotos(produto.nome_imagem)}}>
          </ion-avatar>
          <ion-label>{{produto.nomeProduto}} - R${{produto.valor}} - {{produto.unidadeMedida}}<br>
                      Vendedor: {{produto.nomeVendedor}}<br>
                      
          <ion-button size="small"  *ngIf="nivelUsuario == 'Cliente'"  (click)="fazerPedido(produto)">
          <ion-icon slot="end" name="cart"> </ion-icon><span class="ion-text-capitalize">Comprar</span></ion-button> 
         </ion-label>
   
      </ion-item>
     

      <ion-item-options side="end">
        <ion-item-option (click)="mostrar(produto.idProduto, produto.nomeProduto, produto.categoria,produto.valor,produto.unidadeMedida, produto.qtEstoque, produto.qtMinimaPedido , produto.idUsuario,produto.urlImagem)" color="secondary">
          Mostrar
        </ion-item-option>
        <ion-item-option *ngIf="nivelUsuario == 'Produtor'" (click)="excluir(produto.idProduto)" color="danger">
          Excluir
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      
      refreshingSpinner="circles"
      refreshingText="Carregando...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-infinite-scroll  (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Carregando mais dados">
  </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  
  </ion-content>
  