<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo-home">{{nome}}</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="logout()">
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-buttons>


    <ion-button *ngIf="nivel == 'Produtor'" color="primary">{{nivel}}</ion-button>
    <ion-button *ngIf="nivel == 'Cliente'" color="danger">{{nivel}}</ion-button>
</ion-buttons>


<p>{{nome}} Bem vindo ao D.P.D, escolha uma opção para começar!</p>
<ion-list >
  <ion-grid>

    <ion-row>

      <ion-col size="6" >
       
      </ion-col>

      

    <ion-col size="6"> 
     
    </ion-col>
</ion-row>
</ion-grid>

</ion-list>


<ion-toolbar>
  <ion-segment value="all">
    <ion-segment-button value="" (click)="goToPedidos()"> 
      <ion-card color="danger" >
      <ion-card-header>
           <img  class= "image" src="assets/img/verduras5.png"/>
          
      </ion-card-header>
      
      <ion-label >
          <ion-chip color="dark">
            <ion-icon name="receipt"></ion-icon>
             Pedidos  &nbsp; <ion-badge color="light">{{qtPedidos}}</ion-badge>
        
           </ion-chip>
       
      </ion-label>
      </ion-card>   </ion-segment-button>
    <ion-segment-button value="favorites" (click)="goToProdutos()"> <ion-card color="danger">
      <ion-card-header>
         <img  class= "image" src="assets/img/verduras1.png"/>
         
      </ion-card-header>
      <ion-label>  

       <ion-chip color="dark">
         <ion-icon name="nutrition"></ion-icon>
          Produtos &nbsp; <ion-badge color="light">{{qtProduto}}</ion-badge>
        
       </ion-chip>

     </ion-label>    
   </ion-card>   </ion-segment-button>
  </ion-segment>
</ion-toolbar>
</ion-content>
