<ion-header >
  <ion-toolbar color="success">
    <ion-buttons slot="start" (click)="Usuarios()">
      <ion-button>
        <ion-icon  name="arrow-back"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Dados do Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="cinza-claro">
  <ion-card-header>
    <ion-card-subtitle>
      Usuário:
    </ion-card-subtitle>
    <ion-card-title>
      {{nome}}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Email: {{usuario}} <br>
    Nível: {{nivel}} <br>
    
  </ion-card-content>
</ion-card>
</ion-content>
